salad.egg-info/
checkpoints/
results/
data/
**/__pycache__/
.DS_Store
**/*.pyc
**/.ipynb_checkpoints
!salad/data/
salad/data/arda_cars.hdf5
salad/data/arda_cars_mean_std.hdf5
salad/data/spaghetti_airplane_latents_mean_std.hdf5
salad/data/spaghetti_airplane_latents.hdf5
salad/data/nic_data/latents.pth
salad/data/nic_data/poses.pth
commands.txt